.figure-1 {
    background: linear-gradient(to bottom left, rgb(104, 111, 255), rgb(80, 87, 230), rgb(104, 111, 255)) rgb(90, 97, 240);
    border: 1px solid rgb(50, 57, 240);
}

.figure-2 {
    background: linear-gradient(to bottom left, rgb(255, 245, 76), rgb(230, 221, 52), rgb(255, 245, 76)) rgb(240, 231, 62);
    border: 1px solid rgb(200, 191, 22);
}

.figure-3 {
    background: linear-gradient(to bottom left, rgb(100, 142, 97), rgb(76, 118, 73), rgb(100, 142, 97)) rgb(86, 128, 83);
    border: 1px solid rgb(46, 88, 43);
}

.figure-4 {
    background: linear-gradient(to bottom left, rgb(67, 114, 38), rgb(43, 90, 14), rgb(67, 114, 38)) rgb(53, 100, 24);
    border: 1px solid rgb(30, 77, 1);
}

.figure-5 {
    background: linear-gradient(to bottom left, rgb(244, 94, 90), rgb(220, 70, 65), rgb(244, 94, 90)) rgb(230, 80, 75);
    border: 1px solid rgb(190, 40, 35);
}

.figure-6 {
    background: linear-gradient(to bottom left, rgb(255, 125, 144), rgb(230, 101, 120), rgb(255, 125, 144)) rgb(240, 111, 130);
    border: 1px solid rgb(200, 71, 90);
}

.figure-7 {
    background: linear-gradient(to bottom left, rgb(254, 100, 143), rgb(230, 75, 119), rgb(254, 100, 143)) rgb(240, 85, 129);
    border: 1px solid rgb(200, 35, 89);
}