.figure-1 {
    background-color: blue;
}

.figure-2 {
    background-color: yellow;
}

.figure-3 {
    background-color: green;
}

.figure-4 {
    background-color: darkgreen;
}

.figure-5 {
    background-color: red;
}

.figure-6 {
    background-color: orangered;
}

.figure-7 {
    background-color: darkorange;
}