.figure-1 {
    background-color: #5a61ff;
}

.figure-2 {
    background-color: #ffe73e;
}

.figure-3 {
    background-color: #568053;
}

.figure-4 {
    background-color: #356418;
}

.figure-5 {
    background-color: #ff504a;
}

.figure-6 {
    background-color: #ff6f82;
}

.figure-7 {
    background-color: #ff5581;
}