.canvas {
    width: 300px;
    height: 600px;
    background-color: black;
    overflow: hidden;
    float: left;;
}

.container {
    position: absolute;
}

.container .figure {
    position: absolute;
}

.controls {
    float: left;
    padding-left: 30px;
}

.controls > div {
    margin-bottom: 20px;
}

.score {
    width: 150px;
    height: 50px;
    background-color: black;
    color: white;
}

.next {
    width: 180px;
    height: 180px;
    background-color: black;
    color: white;
}

.control {
    padding: 10px;
    display: block;
    margin-bottom: 10px;
}

.control.pause {
    background-color: aliceblue;
}

.control.restart {
    background-color: mistyrose;
}