@import url("colors.css");
body {
    min-width: 550px;
}
.canvas {
    width: 300px;
    height: 600px;
    background-color: black;
    overflow: hidden;
    float: left;;
}

.canvas .message {
    width: 90%;
    height: 15%;
    background-color: yellow;
    margin: 50% auto auto auto;
    display: none;
    z-index: 2;
    position: relative;
    padding-top: 15%;
    text-align: center;
    font-size: x-large;
    font-weight: bold;
}

.container {
    position: absolute;
}

.container .figure {
    position: absolute;
    box-sizing: border-box;
}

.controls {
    float: left;
    padding-left: 30px;
}

.controls > div {
    margin-bottom: 20px;
}

.score {
    width: 150px;
    height: 50px;
    background-color: black;
    color: white;
}

.next {
    width: 180px;
    height: 180px;
    background-color: black;
    color: white;
}

.control {
    padding: 10px;
    display: block;
    margin-bottom: 10px;
}

.control.pause {
    background-color: aliceblue;
}

.control.restart {
    background-color: mistyrose;
}